
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h2>Orders</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div id="dvPartial">

            </div>
        </div>
        <div class="col-xs-6">
            <div id="dvPartialBill">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // run the first time; all subsequent calls will take care of themselves
        //setTimeout(refreshOrderStatusPartial, 5000);
        refreshOrderStatusPartial();
    });
    var siteRoot = '@Url.Content("~")';
    var timeOutMilliSecs = 30000; // 30 Secs
    function refreshOrderStatusPartial() {
        console.log("refreshing");
        $.ajax({
            type: "GET",
            url: siteRoot + "Order/GetOrderStatusPartial",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#dvPartial').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        setTimeout(refreshOrderStatusPartial, timeOutMilliSecs); // you could choose not to continue on failure...
    }

</script>
